/* GracefulTavi default style sheet. */

body {
    background-color: #eeeeee;
    color:            #000000;
    margin-right:     0px;
    margin-left:      0px;
    margin-top:       0px;
    margin-bottom:    0px;
    padding: 0px;
    xfont-family: helvetica, arial, verdana, sans-serif;
    font-family: verdana, sans-serif;
}

a:link {
    color:      #0000ff;
    background: transparent;
}
a:visited {
    color:      darkblue;
    background: transparent;
}
a:active {
    color:      #006699;
    background: transparent;
}
a.title {
    /* text-decoration: none; */
}

span.highlight {
    background: #ffff00;
    font-weight: bold;
}
span.highlightpass {
    background: #88ff88;
    font-weight: bold;
}
span.highlightfail {
    background: #ff7777;
    font-weight: bold;
}

img {
    border: 0px;
}

div#topleftbox {
    padding-top: 1em;
}
div.logo {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
}

div#toprightbox {
    float: right;
    margin: 0.1em;
    margin-left: 2em;
    content: "x";
}
div#toprightbox div.tree {
    padding-bottom: 1em;
}
div.tree table {
    xfont-size: small;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-spacing: 0px;
}
div.tree table tr td {
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: left;
}
div.jumpsearch {
    padding-bottom: 1em;
    font-size: small;
    text-align: right;
}

.quote {
    text-align: center;
    padding-left: 10em;
    padding-right: 3em;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    font-size: small;
    font-style: italic;
    max-width: 50%;
}

div.diff {
    font-family: monospace;
}
table.diff {
    width: 100%;
}
table.diffblock {
    width:            95%;
    background-color: #efefff;
}
td.diff-added {
    background-color: #ccffcc;
    color:            #000000;
}
td.diff-removed {
    background-color: #ffaaaa;
    color:            #000000;
}
ins {
    background-color: #ccffcc;
    color:            #000000;
    text-decoration:  none;
}
del {
    background-color: #ffaaaa;
    color:            #000000;
    text-decoration:  none;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    margin: 0px;
    font-weight: bold;
}
h1.underline,h2.underline,h3.underline,
h4.underline,h5.underline,h6.underline,
h7.underline,h8.underline,h9.underilne {
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #aaaaaa;
}

hr {
    width: 80%;
}

textarea {
    width: 100%;
}
input.fullWidth {
    width: 100%;
}

dl, ul, ol {
    margin-top:    0px;
    margin-bottom: 0px;
}

form {
    margin-top: 0px;
}

p.warning {
    color:      #ff3f3f;
    background: transparent;
}

span.twin {
    font-size: smaller;
}

tt, pre {
    background: transparent;
    color:      #383838;
}

div#contentbox {
    margin-left: 1em;
    margin-right: 1em;
    clear: both;
}
.content {
    background: #ffffff;
    border: solid black 2px;
    padding: 2em;
    padding-top: 1em;
    line-height: 150%;
    position: relative;
    top: -0.2em;
    z-index: 1;
}
.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6,
.content h7, .content h8, .content h9 {
    margin-left: -0.5em;
}
table.wikitable {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: solid blue 1px;
}
table.wikitable tr:first-child td {
    text-decoration: underline;
    font-weight: bold;
}
table.wikitable tr td {
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: left;
}
table.toc {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-left: solid green 1px;
}

div#footer {
    font-size: small;
    padding: 1em;
}

.backlinksHeader { background: #eeeeff; }
.notBacklinksHeader { background: #ffcfcf; }

blockquote.cite {
    border-left: 1px solid blue;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.toolbar {
    text-align: right;
    padding-right: 2em;
}
#toolbar-top {
    padding-top: 0em;
    padding-bottom: 0.4em;
}
#toolbar-bottom {
    padding-top: 0em;
    padding-bottom: 0em;
    position: relative;
    top: -0.3em;
    z-index: 0;
}
#toolbar-top .button a,
#toolbar-top .button a:visited,
#toolbar-top .button a:hover,
#toolbar-top .button a:active,
#toolbar-top .button a.selected, 
#toolbar-top .button.disabled {
    padding-bottom: 0.5ex;
}
.button a, .button a:visited, .button a:hover, .button a:active,
.button a:visited, .button a.selected {
    border: 1px solid black;
    padding: 2px 4px 3px 4px;
    font-size: 10pt;
    text-decoration: none;
    color: blue;
    background: white;
    font-weight: bold;
}
.button a:hover {
    background: #eaeaff;
}
.button a.selected, .button a.selected:visited {
    color: white;
    background: blue;
}
.button.disabled {
    border: 1px solid #808080;
    color: #c0c0c0;
    background: #f6f2f6;
    padding: 2px 4px 3px 4px;
    font-size: 10pt;
}

.editicon {
    padding-left: 0.3em;
}
