/* WikkiTikkiTavi default style sheet. */
/* $Id: wiki.css,v 1.2 2003/03/28 23:03:53 mich Exp $ */
body {
    background-color: #eeeeee;
    color:            #000000;
    margin-right:     0%;
    margin-left:      0%;
    margin-top:       0%;
    margin-bottom:    0%;
}
a:link {
    color:      #0000ff;  /* 4f6997 */
    background: transparent;
}
a:visited {
    color:      darkblue;  /* 2f2f4e */
    background: transparent;
}
a:active {
    color:      #006699;  /* 80307f */
    background: transparent;
}
a.title {
    /* text-decoration: none; */
}
span.highlight {
    background: #ffff00; /* eeeeff */
    font-weight: bold;
}
span.highlightpass {
    background: #88ff88;
    font-weight: bold;
}
span.highlightfail {
    background: #ff7777;
    font-weight: bold;
}
img {
    border: 0;
}
div.logo {
    float: left;
}
table.topbox {
    width:            98%;
    background-color: #eeeeee;
}
table.bottombox {
    width:            98%;
    background-color: #eeeeee;
}
div.diff {
    font-family: monospace;
}
table.diff {
    width: 100%;
}
table.diffblock {
    width:            95%;
    background-color: #efefff;
}
td.diff-added {
    /* background-color: #cfcfff; */
    background-color: #ccffcc;
    color:            #000000;
}
td.diff-removed {
    /* background-color: #efefff; */
    background-color: #ffaaaa;
    color:            #000000;
    /* font-color:       red; */
    /* text-decoration:  line-through; */
}
h1 {
    margin-bottom: 0;
}
h2 {
    margin-bottom: 0;
}
h1.underline,h2.underline,h3.underline,
h4.underline,h5.underline,h6.underline {
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #aaaaaa;
}
hr {
    width: 80%; /* 70% */
}
textarea {
    width: 100%;
}
input.fullWidth {
    width: 100%;
}
dl, ul, ol {
    margin-top:    0pt;
    margin-bottom: 0pt;
}
form {
    margin-top: 0pt;
}
p.warning {
    color:      #ff3f3f;
    background: transparent;
}
span.twin {
    font-size: smaller;
}
tt {
    background: transparent;
    color:      #383838;
}
pre {
    background: transparent;
    color:      #383838;
}
.content table {
    background: #ffffff;
}
.content td {
    text-align: left;
    background: #eeeeff;
}
.quote {
    font-size: small;
    font-style: italic;
}
.backlinksHeader { background: #eeeeff; }
.notBacklinksHeader { background: #ffcfcf; }
blockquote.cite {
    border-left: 1px solid blue;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

a.button {
    border: 1px solid black;
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 11pt;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    background: white;
    line-height: 25px;
}
a.button:visited {
    border: 1px solid black;
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 11pt;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    background: white;
    line-height: 25px;
}
a.button:active {
    border: 1px solid black;
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 11pt;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    background: white;
    line-height: 25px;
}
a.button:hover {
    border: 1px solid black;
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 11pt;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    background: #eaeaff;
    line-height: 25px;
}
span.buttonDisabled {
    border: 1px solid #808080;
    padding: 3px 4px 3px 4px;
    text-align: center;
    font-size: 11pt;
    text-decoration: none;
    color: #c0c0c0;
    font-weight: bold;
    background: #f6f2f6;
    line-height: 25px;
}
