/* GracefulTavi default print overrides style sheet. */

body {
    font-family: times, times new roman, serif;
}

.printhide {
    display: none;
}

.toolbar {
    display: none;
}

div.content {
    border: 0px;
}

span.quote {
    display: none;
}

table.maintable {
    border-collapse: collapse;
    border: 0px none;
    width: 100%;
}

table.maintable td {
    padding: 0px;
}
